<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287710446077-2q1nqhtuq746ak40gdsbbvk8r5obhjcv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287710446077-2q1nqhtuq746ak40gdsbbvk8r5obhjcv</string>
	<key>API_KEY</key>
	<string>AIzaSyDc7YHpUPBiqOzFDnvbifm4i7My8AnKuXE</string>
	<key>GCM_SENDER_ID</key>
	<string>287710446077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.monami</string>
	<key>PROJECT_ID</key>
	<string>awesome-monami</string>
	<key>STORAGE_BUCKET</key>
	<string>awesome-monami.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287710446077:ios:aff347d5b0d97ea8169994</string>
</dict>
</plist>